<ion-header>
  <ion-toolbar color="header">
    <img class="logo" src="./assets/img/duocuc.png" alt="logo duroc">  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  @for (user of users; track $index) {
  <ion-item>
    <ion-label>
      Nombre: {{user.nombre}}
      <p>Edad: {{user.edad}}</p>
      <ion-buttons class="pbuttons">
        <ion-button (click)="edit(user)" [routerLink]="['/editar']">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        
        <ion-button (click)="delete(user)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-label>
  </ion-item>
  }
</ion-list>
</ion-content>
<ion-footer [class.hidden]="hideFooter">
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">Cerrar Sesión</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">Perfil</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
