ion-header {
    --background: #F1B634;
  }
  
  ion-toolbar {
    --background: #002641; 
    text-align: center;
  }
  
  ion-title {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
  }
  
  .header-logo {
    max-height: 40px; 
    width: auto;
  }
  
  ion-content {
    --background: #ffffff;
  }
  
  .reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0px;
    margin-top: 0px;
  }
  
  ion-card {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 0px;
  }
  
  ion-card-header {
    text-align: center;
  }
  
  ion-card-content {
    color: #ffffff;
  }
  
  ion-card-title {
    font-size: 1.5rem;
    color: #666666;
  }
  
  ion-item {
    margin-bottom: 16px;
    background-color: #ffffff;
    color: #666666;
  }
  
  ion-button {
    margin-top: 16px;
    --background: #F1B634;
    color: white;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  .responsive-image {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    margin-bottom: 0px;
  }
  .back-to-login-text {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .back-to-login-text a {
    color: primary;
    text-decoration: none;
  }
  
  .back-to-login-text a:hover {
    text-decoration: underline;
  }
  