ion-header {
    --background: #F1B634;
  }

  ion-toolbar {
    --background: #ffffff; 
    text-align: center;
  }

  ion-title {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
  }

  .header-logo {
    max-height: 40px; 
    width: auto;
  }

  ion-content {
    --background: #ffffff;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
  }

  ion-card {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
  }

  ion-card-header {
    text-align: center;
  }
  ion-card-content{
    color: #ffffff;
  }
  ion-card-title {
    font-size: 1.5rem;
    color: #666666;
  }

  ion-item {
    margin-bottom: 16px;
    background-color: #ffffff;
    color: #666666;
  }

  ion-button {
    margin-top: 16px;
    --background: #F1B634;
    color: white;
  }