.cards{
  display:flex;
  height: auto;
  width: auto;
}
.logo{
  margin: auto  ;
  display: flex;
  justify-content: center;
}
ion-toolbar{
  background-color: var(--ion-color-header);
}
ion-card {
  background-color: #b6b6b6; 
  padding: 20px; 
  border-radius: 10px;
  width: auto;
  height: auto;
  box-shadow: 0 0 0 4px transparent, 0 0 0 5px transparent; /* Inicialmente vacío */
  background-clip: padding-box; /* Hace que el fondo interno no sobresalga en los bordes */
  
}
ion-card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1; /* Coloca el pseudoelemento detrás del contenido */
  background: linear-gradient(45deg, #152a9f,#F1B634); /* Gradiente de colores */
  border-radius: 12px; /* Asegura que el borde tenga el mismo radio que el card */
}
body {
  background-color: #d8d8d8;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.button {
  --background: #F1B634;
  color: white;
}
ion-header {
  --background: #007bff; /* Color de fondo del header */
  --color: #ffffff; /* Color del texto en el header */
}